*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}

/* 👇 强制所有可编辑文字生效！核心！ */
span[contenteditable] {
    border: none !important;
    outline: none !important;
    background: transparent !important;
    display: inline-block;
    min-width: 1px;
    padding: 0 2px;
    font-size: inherit !important; 
}

.biaoti{
	color: white;
	background-color: mediumblue;
	padding: 10px;
	margin: 20px;
	text-align: center;
	font-size: 17px;
}

/* 红色日期样式 */
.rq{
	color: red;
	font-size: 17px !important;
	    padding-left: 15px;
}

/* 普通黑色文字样式（你想多大改这里） */
.zhengti td.daxiao {
    padding-left: 15px;
    font-size: 15px !important; /* 必生效 */
}